.the-table{
	background-color: #006600;
	border: 40px solid #663300;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	margin-top: 30px;
	height: 600px;
}

.card{
	color: black;
	background-color: white;
	width: 87px;
	height: 122px;
	padding: 10px;
	background: url("../img/cards.gif");
	background-size: 1122px 604px;

	font-size: 40px;
	color: blue;
}
.col-sm-2.card{
	margin: 10px;
}

.card.empty{
	border: dashed 1px black;
	background-position: 0px -482px;
}
.dealer-total-wrapper, .player-total-wrapper{
	color: white;
	font-size: 17px;
}
.dealer-total-wrapper span, .player-total-wrapper span{
	display: block;
	text-align: center;
}
.action-buttons button{
	width: 100%;
	background-color: #0f0f0f;
	color: white;
}
#message{
	color: white;
	font-size: 30px
}




















